
body {

    background-color: #343a40 !important; 
    
}
h2{
    color: white;
}
.card-body {
    flex: 1;
    background-color: transparent !important;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}

.card-body h5 {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.card-body a {
    text-decoration: none;
    color: white;
}
.card-body p {
    color: white;
}
.brand-card {
    border: none;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343a40;
    border-radius: 10px;
    transition: transform 0.3s;
}

.brand-card:hover {
    transform: scale(1.1);
}

.brand-card img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
.showproduct .card {
    width: 18rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: none;
    border: none;
    background-color: transparent !important;
    color: inherit;
}

